<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgu.tourism.mapper.ILineOrderMapper">
    <!--    配合USerVO-->
    <resultMap id="baseMap" type="com.sgu.tourism.entity.LineOrder">
        <id column="lineOrder_id" property="lineOrderId"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_phone" property="userPhone"/>
        <result column="id_number" property="idNumber"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_note" property="userNote"/>
        <result column="line_title" property="lineTitle"/>
        <result column="booking_way" property="bookingWay"/>
        <result column="start_time" property="startTime"/>
        <result column="can_back" property="canBack"/>
        <result column="one_price" property="onePrice"/>
        <result column="number" property="number"/>
        <result column="total_price" property="totalPrice"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


    <insert id="insertObject" parameterType="com.sgu.tourism.entity.LineOrder">



                                insert into t_line_order(user_id, user_name, user_phone, id_number, user_sex, user_note, line_title, booking_way, start_time, can_back, one_price, number, total_price, create_time,del)
                                VALUES (#{userId},#{userName},#{userPhone},#{idNumber},#{userSex},#{userNote},#{lineTitle},#{bookingWay},#{startTime},#{canBack},#{onePrice},#{number},#{totalPrice},#{createTime},0)



    </insert>

    <select id="queryAllLineOrdes" resultMap="baseMap">



                                SELECT * FROM `t_line_order`



        <where>
            <if test="key != null and key != ''">
                user_name LIKE CONCAT("%",#{key},"%") and



            </if>



                                                del = 0
        </where>



                                ORDER BY lineOrder_id DESC LIMIT #{page},#{limit}



    </select>


    <select id="getCount" resultType="Integer" parameterType="String">



                                SELECT count(*) FROM `t_line_order`



        <where>
            <if test="key != null and key != ''">
                user_name LIKE CONCAT("%",#{key},"%") and



            </if>



                                                del = 0
        </where>
    </select>


    <update id="updateObject" parameterType="com.sgu.tourism.entity.LineOrder">



                                UPDATE `t_line_order`



        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},



            </if>
            <if test="userPhone != null and userPhone != ''">



                                                                user_phone = #{userPhone},



            </if>
            <if test="idNumber != null and idNumber != ''">



                                                                id_number = #{idNumber},



            </if>
            <if test="userSex != null and userSex != ''">



                                                                user_sex = #{userSex},



            </if>
            <if test="userNote != null and userNote != ''">



                                                                user_note = #{userNote},



            </if>
            <if test="startTime != null and startTime != ''">



                                                                start_time = #{startTime},
            </if>
        </set>



                                where lineOrder_id = #{lineOrderId}



    </update>


    <update id="updateDelByUserId" parameterType="Integer">



                                UPDATE `t_line_order` SET del = 1 WHERE lineOrder_id = #{id}



    </update>

    <select id="getLineInCome" resultType="com.sgu.tourism.vo.ChartsVo">

        select  sum(total_price) as value,create_time as name
        from t_line_order where del = 0
        group by create_time

    </select>
</mapper>